{% load staticfiles  %}

<!DOCTYPE html>
	<html>
		<head>
			<title>Login</title>
				<meta charset="utf-8">
    				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width">
		
				<!--Bootstrap-->
				<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">


		
    <style>
                    .div
		    {
                            width: 425px;
			    height: auto;
		            padding: 25px;
			    border: 5px solid #999;
			    text-align: justify;
			    position: absolute;
			    top: 20px;
			    right: 35px;
			    box-shadow: 5px 6px 10px #333;
		            border-radius: 20px 20px 20px 20px;
		    } 
		    .demo1
		    {
			    background-color:red;
			    }
		    #id1{
                            height: 40px;
			    margin-left: 10px;
			    background-color; red;
			    color:rgb(255.255.255);
			   
			}
		   
		    </style>


	       <style>
body{

background-repeat: no-repeat;
background-position: 50 50;
}
</style>

<script >
var imgs=new Array()
imgs[0]="http://s7d2.scene7.com/is/image/SamsungUS/Learn_color_DSKTP_01?$cm-g-fb-full-bleed-img-jpg$";
imgs[1]="http://s3.amazonaws.com/digitaltrends-uploads-prod/2013/09/Oppo-N1-hands-on-camera-back-macro.jpg";
imgs[2]="http://s7d2.scene7.com/is/image/SamsungUS/001_fullscreen_learn_1440x799?$cm-g-fb-full-bleed-img-jpg$";
var speed=2000
var processed=new Array()
for (i=0;i<imgs.length;i++){
processed[i]=new Image();
processed[i].src=imgs[i];
}
var inc=-1;
function slideimg(){
if (inc<imgs.length-1)
inc++;
else
inc=0;
document.body.background=processed[inc].src;
}
if (document.all||document.getElementById)
window.onload=new Function('setInterval("slideimg()",speed)');
</script>


	










		</head>	
	
	<body>	
		<!--header-->
        	      <header>
                           <nav class="navbar navbar-inverse">
                                  <div class="container">
			          <div class="navbar-header">
                                  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"aria-expanded="false">
                                  	<span class="sr-only">Toggle navigation</span>
                                  	<span class="icon-bar"></span>
                                  	<span class="icon-bar"></span>
                                  	<span class="icon-bar"></span>
                                  	</button>
                                  	<a class="navbar-brand" href="#">GitHub</a>
					   
				  </div>
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  	<ul class="nav navbar-nav">
                                        	<li class="active"><a href="#">Home
						<span class="sr-only">(current)</span></a></li>
                                        	<li><a href="#">Contact</a></li>
                                       		<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                                   	<ul class="dropdown-menu">
                                  		<li><a href="#">Login</a></li>
                                       		<li><a href="#">Another action</a></li>
                                       		<li><a href="#">Something else here</a></li>
                                        	<li role="separator" class="divider"></li>
                                       		<li><a href="#">Separated link</a></li>
                                        	<li role="separator" class="divider"></li>
                                        	<li><a href="#">One more separated link</a></li>
                                     	 </ul>
                                       		</li>
                                    	 </ul>
                                    <form class="navbar-form navbar-left">
                                   	 <div class="form-group">
                                    		<input type="text" class="form-control" placeholder="Search">
                                    	 </div>
                                    		<button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                    	<ul class="nav navbar-nav navbar-right">
                                       		 <li><a href="#">Login</a></li>
                                        	 <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting <span class="caret"></span></a>
                                   	<ul class="dropdown-menu">
                                    		<li><a href="#">Setting</a></li>
                                    		<li><a href="#">Another action</a></li>
                                    		<li><a href="#">Something else here</a></li>
                                    		<li role="separator" class="divider"></li>
                                    		<li><a href="#">Separated link</a></li>
                                    	</ul>
                                    		</li>
                                    	</ul>
			          </div>
			   </nav>		  
		</header>
		<!--/header-->









                <!--footer starts-->

                         <div class="row">
		         <div class="col-sm-2 col-sm-offset-8">
		         <script>
                         setInterval(raj1, 05);
                         setInterval(raj2, 15);
                         setInterval(raj3, 05);
                         setInterval(raj4, 10);
                         setInterval(raj5, 15);
                         function raj1()
                         {
                         document.getElementById("p2").style.color="Green";
                         }
                         function raj2()
                         {
                         document.getElementById("p2").style.color="Red";
                         }
                         function raj3()
                         {
                         document.getElementById("p2").style.color="Black";
                         }
                         function raj4()
                         {
                         document.getElementById("p2").style.color="Yellow";
                         }
                         function raj5()
                         {
                         document.getElementById("p2").style.color="Silver";
                         }
  

                         </script>
			 </div>
			 </div>









                        <div class="row">
            		<div class="col-sm-4 col-sm-offset-4">
	               
				
			<form class="div"method="post">
			{% csrf_token %}
		        <center> <h2 id="p2"><p style="font-family:monotype corsiva;font-size:45px;">Instagram Clone</h2></p></center>

			<center> <h1><p style="font-family:Monotype Corsiva; color:pink; font-size:35px;">Login</p></h1>
	      
				<div>
					<p style="font-family:Monotype Corsiva; color:#3E50B4; font-size:20px;"><label for="username">Username:</label>
					<input id="username" type="text" name="username" value="">
			        </div>
				<div>
					<p style="font-family:Monotype Corsiva; color:#3E50B4; font-size:20px;"><label for="password">Password:</label>
					<input id="password" type="Password" name="password" value="">
				</div>
				<div>
					<p style="font-family:Monotype Corsiva; color:#3E50B4; font-size:20px;"><input type="submit" value="Login" class="btn btn-success">
					<p style="font-family:Monotype Corsiva; color:#3E50B4; font-size:20px;"> <h3>Already a user?</h3><b /><a href="login/">Login</a></div>
		                        </b> </center>
				</div>
                                    
			</form>
	
                        </div>
			</div>
			
			
			
			
			
			
			
			
			
			
	<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<!--row3-->
				<div class="row">
					<!--Left column-->
					<div class="col-xs-12 col-sm-8">
						<ul class="nav navbar-nav">
							<li><a href="#">ABOUT US</a></li>
							<li><a href="#">SUPPORT</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a href="#">PRESS</a></li>
							<li><a href="#">API</a></li>
							<li><a href="#">JOBS</a></li>
							<li><a href="#">PRIVACY</a></li>
							<li><a href="#">TERMS</a></li>
							<li><a href="#">LANGUAGE</a></li>
						</ul>
					</div>
					<!--./Left column-->	
			
					<!--Right column-->
					<div class="col-xs-12 col-sm-4">
						<p class="navbar-text">
							&copy; 2017 INSTAGRAM
						</p>
					</div>
					<!--./Right column-->
				 </div>
				 <!--./row3-->
		        </div>
		</nav>

     

		<!--Javascript files-->
		<!--Jquery library-->
		<script src={% static "js/jquery-3.2.1.js" %}"></script>
		<!--Bootstrap js Library-->
		<script src="{% static "js/bootstrap.js" %}"></script>
	</body>
</html>

