{% load staticfiles%}
<!Doctype html>
<html>
   <head>
      <title>Instagram Clone Post</title>

      <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Bootstrap-->
      <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
       <style>
           body{
 width: 100%;
 height: 100%;
 background-color:#7A1EAI ;
 background-size: 100% 100%;
 }
 a:link,a:visited {
       background-color:#9B26AF;
       display:inline block;
            text-decoration:none;
       border_radius:5px;
             text-align:center;
       padding: 8px 15px;
       color:#90A4AE;
               }
       }
   .d1
       {
            font-style:bold;
            float:center;
            font:Times new roman;
            font-size:20px;
            background-color:#691A99;
            color:grey;
       }
       </style>

   </head>
   <body>


		<!--header-->
        	      <header>
                           <nav class="navbar navbar-inverse">
                                  <div class="container">
			          <div class="navbar-header">
                                  	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"aria-expanded="false">
                                  	<span class="sr-only">Toggle navigation</span>
                                  	<span class="icon-bar"></span>
                                  	<span class="icon-bar"></span>
                                  	<span class="icon-bar"></span>
                                  	</button>
                                  	<a class="navbar-brand" href="#">GitHub</a>

				  </div>
				  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  	<ul class="nav navbar-nav">
                                        	<li class="active"><a href="#">Home
						<span class="sr-only">(current)</span></a></li>
                                        	<li><a href="#">Contact</a></li>
                                       		<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                                   	<ul class="dropdown-menu">
                                  		<li><a href="#">Login</a></li>
                                       		<li><a href="#">Another action</a></li>
                                       		<li><a href="#">Something else here</a></li>
                                        	<li role="separator" class="divider"></li>
                                       		<li><a href="#">Separated link</a></li>
                                        	<li role="separator" class="divider"></li>
                                        	<li><a href="#">One more separated link</a></li>
                                     	 </ul>
                                       		</li>
                                    	 </ul>
                                    <form class="navbar-form navbar-left">
                                   	 <div class="form-group">
                                    		<input type="text" class="form-control" placeholder="Search">
                                    	 </div>
                                    		<button type="submit" class="btn btn-default">Submit</button>
                                    </form>
                                    	<ul class="nav navbar-nav navbar-right">
                                       		 <li><a href="#">Login</a></li>
                                        	 <li class="dropdown">
                                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting <span class="caret"></span></a>
                                   	<ul class="dropdown-menu">
                                    		<li><a href="#">Setting</a></li>
                                    		<li><a href="#">Another action</a></li>
                                    		<li><a href="#">Something else here</a></li>
                                    		<li role="separator" class="divider"></li>
                                    		<li><a href="#">Separated link</a></li>
                                    	</ul>
                                    		</li>
                                    	</ul>
			          </div>
			   </nav>
		</header>
		<!--/header-Ends-->

 <p align="left">  <a href="/Logout/"class="btn btn-success">Logout</a>
   </p>








                         <div class="row">
		         <div class="col-sm-2 col-sm-offset-8">
		         <script>
                         setInterval(raj1, 05);
                         setInterval(raj2, 15);
                         setInterval(raj3, 05);
                         setInterval(raj4, 10);
                         setInterval(raj5, 15);
                         function raj1()
                         {
                         document.getElementById("p2").style.color="Green";
                         }
                         function raj2()
                         {
                         document.getElementById("p2").style.color="Red";
                         }
                         function raj3()
                         {
                         document.getElementById("p2").style.color="Black";
                         }
                         function raj4()
                         {
                         document.getElementById("p2").style.color="Yellow";
                         }
                         function raj5()
                         {
                         document.getElementById("p2").style.color="Silver";
                         }


                         </script>
			 </div>
			 </div>








        <div class="row">
      <div class="col-sm-4 col-sm-offset-4"><br><br>
              <table width="50%"bgcolor="cyan"height="100%"align="center"><tbody width="40%"height="50%"bgcolor="1px solid red"><tr>
                  <td bgcolor="#68EFAD" align="center">

			<center> <h2 id="p2"><p style="font-family:monotype corsiva;font-size:45px;"><b>Instagram Clone</h2></p></center>
                    <h2 class="d1"> Create Your Post<br></h2>
	   <form action="" method ="POST" enctype="multipart/form-data"><br><br>
		   {% csrf_token %}
		   image:-
		   <input type="file"class="btn btn-default" name="image" value="{{ image }}"><br><br>
		   <input type="text" name="caption" value="{{ caption }}"><br><br>
	       <input type="submit"class="btn btn-success" name="add a picture" value = "POST">
       </form></td></tr></tbody></table></div></div>


 <!--Footer-starts-->

	<nav class="navbar navbar-inverse navbar-fixed-bottom">
			<div class="container-fluid">
				<!--row3-->
				<div class="row">
					<!--Left column-->
					<div class="col-xs-12 col-sm-8">
						<ul class="nav navbar-nav">
							<li><a href="#">ABOUT US</a></li>
							<li><a href="#">SUPPORT</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a href="#">PRESS</a></li>
							<li><a href="#">API</a></li>
							<li><a href="#">JOBS</a></li>
							<li><a href="#">PRIVACY</a></li>
							<li><a href="#">TERMS</a></li>
							<li><a href="#">LANGUAGE</a></li>
						</ul>
					</div>
					<!--./Left column-->

					<!--Right column-->
					<div class="col-xs-12 col-sm-4">
						<p class="navbar-text">
							&copy; 2017 INSTAGRAM
						</p>
					</div>
					<!--./Right column-->
				 </div>
				 <!--./row3-->
		        </div>
		</nav>

   <!--Javascript files-->
		<!--Jquery library-->
		<script src={% static "js/jquery-3.2.1.js" %}"></script>
		<!--Bootstrap js Library-->
		<script src="{% static "js/bootstrap.js" %}"></script>
   </body>
</html>



